[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.googlemap {
  width : 80%;
  height: 80vh;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

body {
  background-color: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}


ul.tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 9;
  position: fixed;
  top: -10px;
   overflow: visible;
}

ul.tabs::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1e293b;
  border-radius: inherit;
  z-index: 0;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.35s ease;
  pointer-events: none;
}
ul.tabs:hover::before {
  transform-origin: top;
  transform: scaleY(1.4);
}

ul.tabs li {
  padding: 20px 32px;
  cursor: pointer;
  color: #dde2ea;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  position: relative;
  z-index: 1;
}


ul.tabs li:hover {
  background-color: #334155;

}


ul.tabs li.active {
  background-color: #315da3;
  color: white;
}


.tab-content {
  margin: 50px;
  left: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 16px 15px rgba(0, 0, 0, 0.1);
  z-index: 7;
  align-items: center;

}

#home {
position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  justify-content: center;
}

[data-tab-content] {
  display: none;
}


.active[data-tab-content] {
  display: block;
}


.tab-content h1, .tab-content h2, .tab-content p {
  margin-bottom: 15px;
}

.tab-content a {
  text-decoration: none;
}

.tab-content a:hover {
  text-decoration: underline;
}

body {
  background-image: url(images/67529a37-f451-4bdd-b57b-73397f3121e2.jpg);
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;
  background-attachment: fixed;   
}



